<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
</head>
<body class="container">
<div th:include="fragments :: nav"></div>
<h3>Редактирование товара</h3>
<form class="mt-5" th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
    <div class="form-group mb-2">
        <label for="category" class="form-label">Категория: </label>
        <select class="form-select" name="category" th:field="*{category}" id="category">
            <div th:each="element : ${category}">
                <option th:text="${element.getName()}" th:value="${element.getId()}">
            </div>
        </select>
        <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
    </div>
    <div class="form-group mb-2">
        <label for="title" class="form-label">Наименование: </label>
        <input class="form-control" type="text" placeholder="Наименование" th:field="*{title}"
               id="title">
        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>
    <div class="form-group mb-2">
        <label for="description" class="form-label">Описание: </label>
        <textarea class="form-control" placeholder="Описание" th:field="*{description}"
                  id="description"></textarea>
        <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </div>
    <div class="form-group mb-2">
        <label for="price" class="form-label">Цена: </label>
        <input class="form-control" type="number" min="1" step="any" placeholder="Цена" th:field="*{price}"
               id="price">
        <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    </div>
    <div class="form-group mb-2">
        <label for="warehouse" class="form-label">Склад: </label>
        <input class="form-control" type="text" placeholder="Склад" th:field="*{warehouse}"
               id="warehouse">
        <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    </div>
    <div class="form-group mb-2">
        <label for="seller" class="form-label">Продавец: </label>
        <input class="form-control" type="text" placeholder="Продавец" th:field="*{seller}"
               id="seller">
        <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    </div>
    <div class="form-group row mb-2">
        <div class="col-auto" th:each="img : ${product.getImageList()}">
            <img class="img-thumbnail" th:src="'/img/' + ${img.getFileName()}"  style="max-height: 200px;"
                 th:alt="${product.getTitle()}"
            >
        </div>
    </div>
    <div class="form-group mb-2 pt-2 border-top">
        <button class="btn btn-outline-primary" type="submit">Сохранить</button>
    </div>
</form>
<footer th:replace="fragments :: footer">
    <div>FOOTER</div>
</footer>
</body>
</html>