<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body class="container">
<div th:include="fragments :: nav"></div>
<h3>Заказы</h3>
<div class="collapse show" id="collapseOrder">
    <table class="table table-bordered border-primary caption-top">
        <caption>Список заказов</caption>
        <thead class="table-light border-primary">
        <tr>
            <th></th>
            <th>#</th>
            <th>Дата</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Статус</th>
        </tr>
        </thead>
<!--        <tfoot>-->
<!--        <tr>-->
<!--            <td colspan="6">-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tfoot>-->
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}"  style="max-height: 80px;"
                     th:alt="${order.getProduct().getTitle()}"
            ></td>
            <td th:text="${order.getNumber()}"></td>
            <td th:text="${order.getDateTime()}"></td>
            <td th:text="${order.getProduct().getTitle()}"></td>
            <td th:text="${order.getPrice()}"></td>
            <td th:text="${order.getStatus()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments :: footer">
    <div>FOOTER</div>
</footer>
</body>
</html>